@model List<SiteSettingsHomeIndexDto>

<!-- Home -->
<div class="main-body">
    <div class="container">
        <div class="row">
            <!-- Left Column -->
            <div class="col-lg-6">
                <div class="main-info">
                    <div class="main-title text-primary">
                        @foreach (var Title in Model)
                        {
                            <h1>
                                @Title.Title
                            </h1>
                        }
                    </div>
                </div>
                <div class="main-desc">
                    @foreach (var item in Model)
                    {

                        <p>
                            @item.Description
                        </p>
                    }
                </div>
                <div class="button-div">
                    <a class="btn btn-primary" href="@Url.Action("Index", "Catalog", new {area = "default"}) type="button">
                        Nümunələrə Bax
                    </a>
                    <a class="btn btn-danger" href="@Url.Action("Index", "Contact", new {area = "default"}) type="button">Əlaqə</a>
                </div>
            </div>
            <!-- Right Column -->
            <div class="col-lg-6 main-img-div">
                @foreach (var image in Model)
                {
                    <div class="col-md-12">
                        <img src="~/images/@image.MainImage" class="main-img" alt="Your Image" class="img-fluid" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Home End -->