@model HomeIndexVm
<!-- Main -->
@await Component.InvokeAsync("SiteSettings")
@await Component.InvokeAsync("Cvs")
@await Component.InvokeAsync("SecondarySettings")



<div class="container why-panel">
    <div>
        <h3 class="text-center">Niyə CV-World?</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="border p-3 h-100 d-flex flex-column align-items-center justify-content-centers why-div">
                <div>
                    <span><i aria-hidden="true" class="fas fa-star why-icons"></i></span>
                </div>
                <div>
                    <h3 class="text-primary text-center">
                        <span>99% müştəri məmnuniyyəti</span>
                    </h3>
                    <p class="text-center">
                        Bizim məqsədimiz yalnız dizayn olunmuş CV (Resume) tərtibi
                        deyil, həm də daxilində yerləşdirilən məlumatların
                        oxunaqlılığını artırmaq və sizi uğura <b>bir addım daha</b>
                        yaxınlaşdırmaqdır.
                    </p>
                </div>
                <div>
                    <i class="fa-solid fa-star" style="color: #e73313"></i>
                    <i class="fa-solid fa-star" style="color: #e73313"></i>
                    <i class="fa-solid fa-star" style="color: #e73313"></i>
                    <i class="fa-solid fa-star" style="color: #e73313"></i>
                    <i class="fa-solid fa-star" style="color: #e73313"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="border p-3 h-100 d-flex flex-column align-items-center justify-content-centers why-div">
                <div>
                    <span><i aria-hidden="true" class="fa-solid fa-clock why-icons"></i></span>
                </div>
                <div>
                    <h3 class="text-primary text-center">
                        <span>24 saat ərzində təhvil</span>
                    </h3>
                    <p class="text-center">
                        Operativlik komandamızın birinci prinsipidir. Qəbul edilən
                        sifarişlər maksimum <b>24 saat ərzində</b> tam hazırlanıb
                        təhvil verilir.
                    </p>
                </div>
                <div>
                    <i class="fa-solid fa-star" style="color: #e73313"></i>
                    <i class="fa-solid fa-star" style="color: #e73313"></i>
                    <i class="fa-solid fa-star" style="color: #e73313"></i>
                    <i class="fa-solid fa-star" style="color: #e73313"></i>
                    <i class="fa-solid fa-star" style="color: #e73313"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="border p-3 h-100 d-flex flex-column align-items-center justify-content-centers why-div">
                <div>
                    <span><i aria-hidden="true" class="fa-solid fa-circle-check why-icons"></i></span>
                </div>
                <div>
                    <h3 class="text-primary text-center">
                        <span>+56% uğura daha yaxın </span>
                    </h3>
                    <p class="text-center">
                        Sadə formatlı CV-lər ilə müqayisədə xüsusi dizayn olunmuş CV
                        (Resume) ilə siz, digər namizədlər arasında uğura daha yaxın
                        olacaqsınız.
                    </p>
                </div>
                <div>
                    <i class="fa-solid fa-star" style="color: #e73313"></i>
                    <i class="fa-solid fa-star" style="color: #e73313"></i>
                    <i class="fa-solid fa-star" style="color: #e73313"></i>
                    <i class="fa-solid fa-star" style="color: #e73313"></i>
                    <i class="fa-solid fa-star" style="color: #e73313"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Why End-->
<!-- About -->
<div class="about  align-items-center">
    <div class="container about-content">
        <div class="about-title">
            <h1 class="text-primary text-center">Haqqımızda</h1>
        </div>
        <div class="container about-desc">
            <p class="">
                Azərbaycanda ən sərfəli qiymətlərlə CV hazırlanması xidməti ilə
                yalnız dizayndan ibarət deyil, həm də mükəmməl və uğurlu CV
                hazırlayırıq. Müştərilərimizə CV-ni necə tərtib edəcəyimizi
                müzakirə edib, işəgötürən üçün ən çox diqqət çəkəcək məzmunu
                məsləhət görürük. Müştərilərimizin məqsədləri və arzularını
                öyrənirik və bu nəticəyə çatana qədər çalışırıq.
            </p>
        </div>
        <div class="container">
            <h4>
                <span class="text-primary">
                    Aşağıdakı əlaqə vasitələri ilə bizimlə cv hazırlanması üçün
                    əlaqə saxlaya bilərsiniz.
                </span>
            </h4>
        </div>
        <!--  -->
        <div class="row social-media">
            <div class="col-md-4 p-2 d-flex justify-content-center col-md4 social-media-icons">
                <div class=" whatsapp-icon">
                    <span>
                        <a href="#">

                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </span>

                </div>
            </div>
            <!--  -->
            <div class="col-md-4 p-2 d-flex justify-content-center col-md4 social-media-icons">
                <div class="instagram-icon">
                    <span>
                        <a href="#">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </span>

                </div>
            </div>
            <!--  -->
            <div class="col-md-4 p-2 d-flex justify-content-center col-md4 social-media-icons">
                <div class="facebook-icon">
                    <span>
                        <a href="#">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </span>

                </div>
            </div>
            <!--  -->
        </div>
    </div>
</div>
<!-- About End -->
<!-- Main End -->
