@using Impulse.DTOs.CompanyInfo


<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <select class="form-control" id="category">
                    @foreach (var item in ViewBag.JobCategory)
                    {
                        <option value="@item.JobCategoryId">@item.JobCategoryName</option>
                    }
                </select>
                <input type="text" class="form-control" id="search" placeholder="Search...">
                <div class="input-group-append">
                    <button class="btn btn-primary" id="searchBtn" type="button">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>