 <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="/images/company_logo_cb7fde11c9cd9c952f5bbaf8075ee7fbe73326c7.png" alt="Company Logo">
            </div>
            <div class="col-md-12">
                <h1 class="job-title">Job Title</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span><i class="fas fa-map-marker"></i> item.CityName</span>
                <span><i class="fas fa-calendar"></i> Son gün: item.ExpireDate.ToString("dd.MM.yyyy")</span>
                <span class="full-time"><i class="fas fa-clock"></i> item.JobTypeName</span>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Job Description</h1>
    </div>