@model List<CvsDto>

<!-- Designs -->
<div class="container designs-div">
    <div class="container designs-title">
        <h2 class="text-primary text-center">
            Ən çox tələb görən CV dizaynları
        </h2>
    </div>
    <div class="container">
        <div class="container mt-4">
            <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <!-- Bu hisse backend Foreach -->
                        <div class="row design-examples">
                            @foreach (var item in Model)
                            {
                                <div class="col-md-4">
                                    <img src="~/images/@item.ImageName" class="img-fluid" alt="Image 1" />
                                </div>
                            }
                        </div>
                    </div>
                    <!-- Backend Foreach -->
                    <!-- Add more carousel items with three images each as needed -->
                    <div class="carousel-item">
                        <div class="row design-examples">
                            @foreach (var item in Model)
                            {
                                <div class="col-md-4">
                                    <img src="~/images/@item.ImageName" class="img-fluid" alt="Image 1" />
                                </div>
                            }

                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#imageCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#imageCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Designs End -->