  <!-- Main -->
<main>
    <div class="container contact-main">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-main-h1">
                    <h1 class="text-primary">
                        Əlaqə
                    </h1>
                </div>
                <div class="contact-main-p">
                    <p>
                        Sizinlə ilk tanışlıq CV-niz üzərindən olduğuna görə, bu tanışlıqda maksimum özünüzü
                        göstərmək üçün bizə müraciət edə bilərsiniz.
                    </p>
                </div>
                <div class="">
                    <div class="row social-media social-contact-icons">
                        <div class="col-md-4 p-2 d-flex justify-content-center col-md4 social-media-icons">
                            <div class=" whatsapp-icon">
                                <span>
                                    <a href="#">

                                        <i class="fa-brands fa-whatsapp"></i>
                                </span>
                                </a>

                            </div>
                        </div>
                        <!--  -->
                        <div class="col-md-4 p-2 d-flex justify-content-center col-md4 social-media-icons">
                            <div class="instagram-icon">
                                <span>
                                    <a href="#">
                                        <i class="fa-brands fa-instagram"></i>
                                </span>
                                </a>

                            </div>
                        </div>
                        <!--  -->
                        <div class="col-md-4 p-2 d-flex justify-content-center col-md4 social-media-icons">
                            <div class="facebook-icon">
                                <span>
                                    <a href="#">
                                        <i class="fa-brands fa-facebook"></i>
                                </span>
                                </a>

                            </div>
                        </div>
                        <!--  -->
                    </div>
                    <div class="">
                        <div class="row contact-icons">
                            <div class="col-md-6">
                                <i class="fa-solid fa-envelope text-primary"></i>
                                <span style="color: #89939D;">aliyavarguluzada@gmail.com</span>
                            </div>
                            <div class="col-md-6">
                                <i class="fa-solid fa-phone text-primary"></i>
                                <span style="color: #89939D;">+994704122271</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-input">
                    <div class="input-title">
                        <h3 class="text-primary">
                            Təklif və iradlarınız üçün:
                        </h3>
                    </div>
                    <form action="">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Email Adres</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                   placeholder="Email Addres">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Mövzu</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                   placeholder="Mövzu">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Qeyd</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button type="button" class="btn btn-primary">Göndər</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main End -->